@{
    ViewBag.Title = "Home Page";
}

@using Weather.Models
@model IEnumerable<WeatherEntity>

<div>
    <h1>I am a new new version</h1>
    <table width="900">
        <tr><th>Time</th><th>Temperature</th><th>Pressure</th><th>Humidity</th></tr>
        @foreach(var weather in Model)
        {
            <tr>
                <td width="40%">@weather.Utc</td>
                <td width="20%">@weather.Celsius</td>
                <td width="20%">@weather.Pressure</td>
                <td width="20%">@weather.Humidity</td>
            </tr>
        }
    </table>
</div>
